server:
  port: 8081

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      httpclient:
        connect-timeout: 10000
        response-timeout: 30s
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true
      routes:
        - id: auth-service
          uri: http://localhost:8080
          predicates:
            - Path=/api/v1/auth/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 10    # Скорость пополнения токенов (в сек)
                redis-rate-limiter.burstCapacity: 20    # Максимальное количество токенов
                redis-rate-limiter.requestedTokens: 1   # Токенов на запрос
                key-resolver: "#{@userKeyResolver}"     # Бин для определения ключа
        - id: user-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/v1/accounts/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 1    # Скорость пополнения токенов (в сек)
                redis-rate-limiter.burstCapacity: 10    # Максимальное количество токенов
                redis-rate-limiter.requestedTokens: 10   # Токенов на запрос
                key-resolver: "#{@compositeKeyResolver}"     # Бин для определения ключа

  redis:
    host: localhost
    port: 6379
    database: 0
    timeout: 5000ms
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.data.redis: DEBUG
    ru.samara.pet.api_gateway.config: DEBUG