server:
  port: 8082

spring:
  application:
    name: "portfolio-service"
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/portfolio_db
    username: postgres
    password: 1131
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate  # Только проверка структуры
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    flyway:
      enabled: true
      baseline-on-migrate: true  # если БД уже существовала
  redis:
    host: localhost
    port: 6379
    password:
    database: 0
    timeout: 2000ms
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0

logging:
  level:
    org.springframework.security: INFO
    ru.samara.pet.portfolio_service.security: INFO

app:
  jwt:
    secret: l3eAT2bjCIsQ2mlDQVoIEBZZyWk4YqFaUqf6pUIvWKQ=
    expiration-ms: 86400000  # 24 часа